*{
  margin: 0px;
  padding: 0px;
}

h1{
  margin: 1% 2%;
}
.contenido{
  display: flex;
  justify-content: space-around;
}
.contenido .info{
  display: inline-block;
  width: 30%;
  font-size: 12px;
  padding: 0% 1%;
}

br{
  display: none;
}
h2{

  margin: 4% 0;
  font-size: 18px;
}


 @media (max-width:768px){
   
  .datos ul li{
    list-style-type: none;
    margin: 1% 0;
  }
  
  li{
    margin-left: 6%;
    font-size: 12px;
  }

  .contenido .datos{
    float: left;
    width: 30%;
    margin-left: 1%;
  }
  h2{
    font-size: 18px;
  }
  .contenido .derecha{
    float: right;
    width: 60%;
  }

  .contenido .derecha ul li a{
    text-decoration: none;
  }

  .datos ul li b::before{
    content: '\A';
    white-space: pre;
  }
} 
  

@media (max-width:320px){

  .contenido .info{
    width: 100%;
    margin: 2%;
  }
  ul{
    list-style-type: none;
  }

  ul li b::before{
    content: '\A';
    white-space: pre;
  }

  li{
    margin: 3% 0;
  }

  .linea{
  border-top: 1px solid black;
  height: 2px;
  max-width: 480px;
  padding: 0;
  margin: -9px auto 0 auto;
  }

  
}
